/*#date-filters {
  display: inline;
}
*/

#main {
  width: 80%;
  margin: 0 auto 0 auto;
}

#date-filters {
  text-align: right;
}

#date-filters > li {
  display: inline;
}
.active {
  font-weight: bold;
}

.segment-filter {
  cursor: pointer;
}

#segments, #devices {
  width: 50%;
  float: left;
}
